<!DOCTYPE html>
<html>
  <head>
    <title>NewProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript">
      window.back_icon = "<%= image_url('logo.jpg') %>"
      window.discard_changes = "<%= image_url('discard_changes.png') %>"
      window.post_to_the_project = "<%= image_url('post_to_the_project.png') %>"
      window.broom = "<%= image_url('broom.png') %>"
      window.background = "<%= image_url('vege-background.jpg') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
